@import './base.css';

#app {
  /* max-height: 100vh; */
  max-width: 1280px;
  width: 1280px;
  /* max-width: 1920px; */
  margin: 0 auto;
  padding: 1rem;
  padding-top: 5rem;

  font-weight: normal;
}

body {
  display: flex;
  place-items: center;
}

a,
.green {
  text-decoration: none;
  color: rgb(176, 0, 32);
  transition: 0.4s;
}

/* nav a.router-link-exact-active {
  color: #ffffff;
  padding: 8px;
  border-radius: 1rem;
  background-color: rgb(176, 0, 32);
} */


/* @media (hover: hover) {
  a:hover {
    background-color: rgba(176, 0, 32, 0.1);
    border-radius: 1rem;
  }
} */

.bg-timely {
  background-color: rgb(176, 0, 32);
}

.text-timely {
  color: rgb(176, 0, 32);
}

.btn-timely {
  background-color: rgb(176, 0, 32);
  color: white;
}

.btn-timely:hover {
  background-color: rgb(150, 0, 0);
  color: white;
}

/* .card {
  background-color: rgb(35, 34, 34);
  color: rgb(176, 0, 32);;
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
